@model CompanyViewModel

<div class="w-full flex justify-center h-fit" style="height: fit-content;">
	<div class="flex justify-center w-4/5 p-4">
		<div class="flex items-center justify-center border-2 border-dashed border-gray-500 bg-white w-1/2 p-2 mr-6" style="max-height: 350px">
			<img src="@Model.LogoUrl" style="max-height: 340px" />
		</div>
		<div class="w-1/2 flex flex-col px-2">
			<div>
				<h5 class="h5 text-center mb-1">Company details</h5>

				<div class="py-2 border-b-2 border-gray-500 mb-2">
					<span class="text-gray-600 mr-2">Company name:</span>@Model.Name
				</div>

				<div class="py-2 border-b-2 border-gray-500 mb-2">
					<span class="text-gray-600 mr-2">About:</span>@Model.About
				</div>
				
				<div class="py-2 border-b-2 border-gray-500 mb-2">
					<span class="text-gray-600 mr-2">Website link:</span><a href="@Model.SiteUrl" class="underline">@Model.SiteUrl</a>
				</div>
				
				<div class="py-2 border-b-2 border-gray-500 mb-2">
					<span class="text-gray-600 mr-2">Video link:</span><a href="@Model.VideoUrl" class="underline">@Model.VideoUrl</a>
				</div>

				<div class="py-2">
					<textarea id="msgTxtArea" rows="8" placeholder="Enter your message to the user" style="padding: 5px 10px; width: 100%; border: 1px solid #e6e6e6; border-radius: 10px;"></textarea>
				</div>
			</div>

			<div class="flex justify-end">
				<a id="allow" onclick="companyAllowDeny(this)" href="@Url.Action("AllowCompany", "Notification", Model)" class="btn-shadow mr-2">Allow</a>
				<a id="deny" onclick="companyAllowDeny(this)" href="@Url.Action("DenyCompany", "Notification", Model)" class="btn-danger ml-2">Deny</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function companyAllowDeny(elem) {
			var message = $('#msgTxtArea').val();
			var id = elem.id;

			if (message == undefined) {
				if (id == 'allow') {
					message = "Thank you for completing your profile! Your input is valuable to us and will help us to improve our platform and services."
				}
				else if (id == 'deny') {
					message = "Thank you for completing your profile. After careful review, we have decided that it doesn't meet our platform's requirements. We hope you will consider revising your profile and submitting it again in the future."
				}
			}

			$.ajax({
				type: 'POST',
				url: '/admin/Notification/AddMessage',
				data: { message: message },
			});
		}
	</script>
}
